In [2]:

import pandas as pd

In [3]:
print("""
Exercise: Median, Mean, Percentile

Use this air bnb new york city data set and remove outliers 
# using percentile based on price per night for a given apartment/home. 
# You can use suitable upper and lower limits on percentile based on your intuition. 
# Your goal is to come up with new pandas dataframe that doesn't have the outliers present in it.
""")

Exercise: Median, Mean, Percentile

Use this air bnb new york city data set and remove outliers
# using percentile based on price per night for a given apartment/home.
# You can use suitable upper and lower limits on percentile based on your intuition.
# Your goal is to come up with new pandas dataframe that doesn't have the outliers present in it.

In [19]:
df = pd.read_csv("AB_NYC_2019.csv")
df.columns
df.count()
df.shape

(48895, 16)

In [5]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [6]:
df["price"].describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [7]:
print("25 % Quantile : ",df["price"].quantile(0.25))
print("50 % Quantile : ",df["price"].quantile(0.50))
print("75 % Quantile : ",df["price"].quantile(0.75))
print("85 % Quantile : ",df["price"].quantile(0.85))
print("95 % Quantile : ",df["price"].quantile(0.95))
print("99 % Quantile : ",df["price"].quantile(0.99))
print("1 % Quantile : ",df["price"].quantile(1))

25 % Quantile :  69.0
50 % Quantile :  106.0
75 % Quantile :  175.0
85 % Quantile :  225.0
95 % Quantile :  355.0
99 % Quantile :  799.0
1 % Quantile :  10000.0

In [14]:
min_x , max_x = df["price"].quantile([0.01,0.999])
print(min_x , max_x)

30.0 3000.0

In [ ]:
df_new = df[(df["price"] > min_x) & (df["price"] < max_x)]
df_new

In [20]:
df_new.shape

(48183, 16)

In [21]:
df_new["price"].describe()

count    48183.000000
mean       148.772036
std        153.594795
min         31.000000
25%         70.000000
50%        110.000000
75%        179.000000
max       2999.000000
Name: price, dtype: float64